<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tian.tblog.mapper.ArticleMapper">

    <sql id="articleList">
        select
            document.id,
            title,
            browses,
            likes,
            ifnull(data.comments, 0) as comments,
            state,
            brief,
            content,
            category.`name` as category,
            category_id as categoryId,
            publish_datetime as publishDatetime,
            last_edit as lastEdit,
            cover.url cover,
            origin
        from document
        left join(
            select
                document_id as document_id,
                count(comment.id) as comments
            from comment
            group by comment.document_id
        ) as data
        on data.document_id = document.id
        join (
            select
                doc_category.id id,
                doc_category.`name` `name`
            from doc_category
        ) as category
        on category.id = document.category_id
        left join (
            select
                image.document_id document_id,
                image.type type,
                image.url url
            from image
        ) as cover
        on cover.document_id = document.id and cover.type = 1
    </sql>

    <select id="queryArticleList" resultType="Article">
        <include refid="articleList" />
    </select>

    <select id="queryPublishedArticle" resultType="Article">
        <include refid="articleList" />
        where state = 1
        order by publish_datetime desc
    </select>

    <select id="queryUnpublishedArticleList" resultType="Article">
        <include refid="articleList" />
        where document.state = 0
    </select>

    <select id="queryArticle" parameterType="String" resultType="Article">
        <include refid="articleList" />
        where document.id = #{id}
    </select>

    <select id="queryArticleByTitle" parameterType="String" resultType="Article">
        select * from document where title=#{title}
    </select>

    <insert id="insertArticle" parameterType="map">
        insert into document(id, title,category_id, last_edit, brief, content, origin)
        values(#{id}, #{title}, #{categoryId}, #{lastEdit}, #{brief}, #{content}, #{origin})
    </insert>

    <update id="updateArticle" parameterType="map">
        update document set
            title=#{title},
            category_id=#{categoryId},
            origin=#{origin},
            state=#{state},
            brief=#{brief},
            content=#{content},
            last_edit=#{lastEdit}
        where id=#{id}
    </update>

    <delete id="deleteArticle" parameterType="String">
        delete from document where id=#{id}
    </delete>

    <update id="publishArticle" parameterType="map">
        update document set state=1, publish_datetime=#{lastEdit}, last_edit=#{lastEdit} where id=#{id}
    </update>

    <update id="withdrawArticle" parameterType="String">
        update document set state=0 where id=#{id}
    </update>

    <select id="queryLastArticle" parameterType="String" resultType="Article">
        <include refid="articleList" />
        where publish_datetime > #{date} and state = 1
    </select>
</mapper>